<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Movies</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        body {
            background-color:snow;
        }
        div{
            background-color:snow;
        }
    </style>
</head>
<body>
<header id="main-header">

    <a id="logo-header" href="/mmovies/">
        <span class="site-name">Your Movies!</span>
        <span class="site-desc">Catálogo mas grande de películas en internet</span>
    </a>
    <nav>
        <ul>
            <li><a class="nav-link" th:href="@{/mmovies/listado}">Listado de películas</a></li>
            <li><a class="nav-link" th:href="@{/mmovies/buscar}">Buscar películas</a></li>
            <li><a class="nav-link" th:href="@{/aactors/listado}">Listado de actores</a></li>
        </ul>
    </nav>

</header>
<div class="container">
    <br>
    <div class="card">
        <h2 th:text="${titulo}" class="card-header text-center"></h2>
        <div class="card-body">
            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <h4 class="card-title">
                <a th:href="@{/aactors/nuevo}" class="btn btn-primary btn-xs">Crear nuevo Actor</a>
            </h4>

            <table class="table table-striped table bordered">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Identificador</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha de Nacimiento</th>
                    <th scope="col">País</th>
                    <th scope="col">Acción</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="actor : ${listadoActores}">
                    <td> <a class="btn btn-primary btn-xs" th:href="@{/aactors/ver/{id}(id=${actor.actor_id})}" th:text="${actor.actor_id}"></a></td>
                    <td th:text="${actor.name}"></td>
                    <td th:text="${actor.f_born}"></td>
                    <td th:text="${actor.country}"></td>
                    <td>
                        <a th:href="@{/mmovies/deleteActorM/{id}(id=${actor.actor_id})}" th:text="'Eliminar de película'" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar el actor de la película."><i class="fas fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>

                </tbody>
            </table>

            <nav th:replace="paginator-nav :: paginator"></nav>

        </div>
    </div>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/mmovies/}">Ir a Inicio</a>
</div> <!-- /container -->

<br>
<footer id="main-footer">
    <p>&copy; 2022 <a href="/mmovies/">Create by Juan Carlos Hernández Medina</a></p>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>