<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>CursosApp | Aplicación de gestión de cursos</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        body {
            background-color:snow;
        }
        div{
            background-color:snow;
        }
    </style>
</head>
<body>
<header id="main-header">

    <a id="logo-header" href="/mmovies/">
        <span class="site-name">Your Movies!</span>
        <span class="site-desc">Catálogo mas grande de películas en internet</span>
    </a>
    <nav>
        <ul>
            <li><a class="nav-link" th:href="@{/mmovies/listado}">Listado de películas</a></li>
            <li><a class="nav-link" th:href="@{/mmovies/buscar}">Buscar películas</a></li>
            <li><a class="nav-link" th:href="@{/aactors/listado}">Listado de actores</a></li>
        </ul>
    </nav>

</header>
<div class="container">
    <br>

    <h2 class="text-secondary">Búsqueda de Películas</h2>
    <form th:action="@{/mmovies/titulo}" method="get">
        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" id="titulo" name="titulo"
                   placeholder="Escriba el título de la película">
        </div>
        <button type="submit" class="btn btn-primary">Buscar por Título</button>
    </form>
    <hr>
    <form th:action="@{/mmovies/genero}" method="get">
        <div class="mb-3">
            <select class="form-select" name="genero" id="genero">
                <!--                 <option selected>Seleccionar categoría</option> -->
                <option th:value="Drama">Drama</option>
                <option th:value="Accion">Accion</option>
                <option th:value="Horror">Horror</option>
                <option th:value="Aventura">Aventura</option>
                <option th:value="Documental">Documental</option>
                <option th:value="Comedia">Comedia</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Buscar por Género</button>
    </form>
    <hr>
    <form th:action="@{/mmovies/actor}" method="get">
        <div class="mb-3">
            <label for="actor" class="form-label">Nombre del Actor</label>
            <input type="text" class="form-control" id="actor" name="actor"
                   placeholder="Escriba el nombre del actor">
        </div>
        <button type="submit" class="btn btn-primary">Buscar por actor</button>
    </form>

    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/mmovies}">Ir a Inicio</a>
</div>
<br>
<footer id="main-footer">
    <p>&copy; 2022 <a href="/mmovies/">Create by Juan Carlos Hernández Medina</a></p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>